@model BugTrackerApplication.Models.User
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
    <title>Insert title here</title>
    <link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
</head>
<body>
    <section class="container">
        <section class="login-form">
            <div class="panel panel-default">
                <div class="panel-heading"> USER LOGIN</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-wrap">
                                @using (Html.BeginForm("Login", "Users", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="sr-only">Email</label>
                                            @Html.TextBoxFor(model => model.userName, new { @class = "form-control", @placeholder = "Username" })
                                          @Html.ValidationMessage("username")
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="sr-only">Password</label>
                                            @Html.PasswordFor(model => model.password, new { @class = "form-control", @placeholder = "Password" })
                                           @Html.ValidationMessage("password")
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12" style="padding:0px;">
                                                <button type="submit" value="Login" class="btn btn-lg btn-info btn-block" style="width:100%; margin:0px;">Sign in</button>
                                            </div>
                                        </div>
                                   
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <script src="~/Content/bootstrap.min.js"></script>
</body>
</html>
