<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Content/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/Content/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/startmin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Content/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("_Header");
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                
                <div class="container body-content">
                    <div class="row">
                      @RenderBody()
                    </div>
                    
                    
                    @*<footer>
                        <p>&copy; @DateTime.Now.Year - SIT ICT2106 - BugTrackerApplication</p>
                    </footer>*@
                </div>
                @Html.Partial("_Footer")
                <!-- ... Your content goes here ... -->
            </div>
        </div>
       
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/startmin.js"></script>
    <script src="~/Scripts/dropdown.js"><</script>
    
</body>
</html>
