<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/Content/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/Content/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/startmin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Content/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>
<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Bug Tracker</a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Top Navigation: Right Menu  nav navbar-right navbar-top-links-->
            <ul class="nav navbar-right top-nav">
             
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b class="fa fa-angle-down"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                        <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="active"><i class="glyphicon glyphicon-home">   </i>&nbsp;&nbsp;&nbsp;Dashboard</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Users")" class="active"><i class="glyphicon glyphicon-list-alt">     </i>&nbsp;&nbsp;&nbsp;View All Projects  </a>
                        </li>
                        <li>
                            <a href="#" class="active"><i class="glyphicon glyphicon-user">   </i>&nbsp;&nbsp;&nbsp;Manage Users</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                
                <div class="container body-content">
                    <div class="row">
                      
                    </div>
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - SIT ICT2106 - BugTrackerApplication</p>
                    </footer>
                </div>
                <!-- ... Your content goes here ... -->
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/startmin.js"></script>
    <script src="~/Scripts/dropdown.js"><</script>
    
</body>
</html>
