@model IEnumerable<BugTrackerApplication.Models.Case>

@{
    ViewBag.Title = "CaseIndex";
}

<h2>CaseIndex of [INSERT PROJECT NAME]</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignedToProject.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Programmer.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pmID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedToProject.projectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Programmer.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pmID)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Case", new { id=item.caseID }, null) 
        </td>
    </tr>
}

</table>
