@model IEnumerable<BugTrackerApplication.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Project Manager -- List of Projects</h2>
@Html.ActionLink("Create New", "Create")



@if (User != null)
{
    
    @Html.ActionLink("Register Account", "Register", "Users")
    @Html.ActionLink("Logout", "LogOut", "Home");
}




<div style="font-family:Arial">
    @using (Html.BeginForm())
    {
        <b>Name:</b>
        @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
        <input type="submit" value="Search" />
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manager.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.projectVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th></th>
    </tr>


    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="8"> No rows match search citeria </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectVersion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.projectID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.projectID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.projectID })
                </td>
            </tr>
        }
    }
</table>
