@model BugTrackerApplication.Models.Case

@{
    ViewBag.Title = "Delete";
}

<h2>Resolve Case</h2>

<h3>Are you sure you want to resolve this case?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignedToProject.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedToProject.projectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programmer.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programmer.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pmID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pmID)
        </dd>
        <dt>
        </dt>
        <dd>
            <input type="submit" value="Resolve" class="btn btn-default" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
                         @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
