@model BugTrackerApplication.Models.Case

@{
    ViewBag.Title = "Details";
}

<h2>Case Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignedToProject.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedToProject.projectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Programmer.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Programmer.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pmID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pmID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("List Of Bugs", "ListOfBugs", new { cid = Model.caseID}) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.caseID }) |
    
    @if (@System.Web.HttpContext.Current.Session["role"].Equals("Programmer"))
    {
        @Html.ActionLink("Resolve Case", "Delete", new { id = Model.caseID }) 
        @Html.ActionLink("| Back to List", "Index")
    }
    @if (@System.Web.HttpContext.Current.Session["role"].Equals("Admin"))
    {
        @Html.ActionLink("Back to List", "CaseIndex", "Project", new { pid = Model.projectID }, null)
    }

</p>
