@model IEnumerable<BugTrackerApplication.Models.Case>
@{
    ViewBag.Title = "Index";

}
<h2>Index</h2>

@Html.ActionLink("Create New", "Create")

<div style="text-align:right">
    @if (User != null)
    {
        @Html.ActionLink("Logout", "LogOut", "Home");
    }
</div>


<div style="font-family:Arial">
    @using (Html.BeginForm())
    {
        <b>Name:</b>
        @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
        <input type="submit" value="Search" />
       <p></p>        <p></p>

    }
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignedToProject.projectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Programmer.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pmID)
        </th>
        <th></th>
    </tr>
@if (Model.Count() == 0)
{
    <tr>
        <td colspan="8"> No rows match search citeria </td>
    </tr>
}
else
{

    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedToProject.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programmer.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pmID)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.caseID }) |
            </td>
        </tr>
    }
}
</table>

@section Scripts {
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function (){
            $("#txtSearch").autocomplete({
                source: '@Url.Action("GetData")' ,
                minLength:2
            });
        });a
    </script>
}
